body{
    margin: 0px;
    padding: 0px;
}
.header{
    display: flex;
    background: black;
    color: white;
    height: 250px;
    justify-content: center;
    align-items: center;
    min-width: 1280px;
    background-image: url(images.jpg);
}
.title{
    padding-left: 15px;
}
img{
    width: 200px;
    height: 200px;
}
.section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 1280px;
}
.main{
    background: gray;
    width: 60%;
    height: 300px;
    text-align: center;
    padding: 15px;
}
.sidebar{
    background: rgb(106, 217, 245);
    width: 40%;
    height: 300px;
    padding: 15px;
}
.footer{
    text-align: right;
}
.footer-container{
    display: flex;
    flex-direction: column;
    background: rgb(226, 173, 75);
    justify-content: center;
    min-width: 1280px;
    height: 100px;
    padding: 20px;
}
.sidebar-h2{
    font-family: inherit;
    color: rgb(221, 17, 17);
    padding-left: 50px;
}
.p{
    font-size: 15px;
    color: rgb(0, 89, 255);
}
.footer-span{
    color: rgb(12, 80, 12);
}
.header-h1-span{
    color: rgb(220, 233, 34);
}